
footer {
    position: relative;
    color: white;
    margin-top: calc(var(--base) * 1.4);
    width: 100%;
}

footer h1.section-title {
    display: flex;
    width: 100%;
    font-size: calc(var(--base) * 0.6);
    color: rgba(255, 255, 255, .25);
    letter-spacing: .7ch;
    text-transform: uppercase; 
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    left: 0;
}
contact {
    padding-top: 8vh;
    padding-bottom: 5vh;
    min-height: 420px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: linear-gradient(to right, black, rgba(0, 0, 0, .2) 80%, transparent), url('../img/contact-image.jpg') no-repeat top right;
}

contact form {
    margin-left: 100px;
    max-width: calc(var(--base) * 5);
}

form p {
    font-size: calc(var(--base) / 5);
    line-height: 2.5;
    color: #ddd;
}

form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #bbb;
    width: 250px;
    padding: 5px 40px;
    color: white;
    font-size: calc(var(--base) / 5);
    text-align: center;
    margin: 0 15px;
}

input[type=email] {
    width: 320px;
}

::-webkit-input-placeholder {
    color: #666;
    font-size: 20px;
}

:-ms-input-placeholder {
    color: #666;
    font-size: 20px;
}

::placeholder {
    color: #666;
    font-size: 20px;
}

form input:focus {
    outline: none;
}

.form-btn {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #e3e3e3;
    padding: 20px 40px;
    background-color: #000;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
    border: 4px solid #e3e3e3;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: var(--cursor);
}

.form-btn:before {
    content: attr(data-title);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    font-size: 20px;
    background-color: #e3e3e3;
    letter-spacing: 5px;
    color: black;
    padding: 20px 40px;
    box-sizing: border-box;
    text-align: center;
    transition: .3s;
}

.form-btn:hover:before {
    top: 0;
} 

.copyright {
    margin-left: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 100px;
}

.social-links {
    list-style: none;
    display: flex;
    position: relative;
}

.social-links li {
    display: inline-block;
    margin: 0 10px;
    transition: all .3s;
}

.social-links li a {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    transition: .3s;
    background-color: #e3e3e3;
    overflow: hidden;
    position: relative;
    cursor: var(--cursor);
}

li a i {
    transition: .3s;
    display: block;
    color: black;
}

.social-links li a i:last-child {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 40px;
    height: 40px;
    color: black;
}

.social-links li:hover a i:nth-child(2) {
    transform: translateY(-80%);
    cursor: none;
    cursor: var(--cursor);
}

.social-links li:hover a i:nth-child(1) {
    transform: translateY(-100%);
    opacity: 0;
}

.copyright-name {
    font-size: 100%;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin: 0 5px;
    letter-spacing: 2px;
    color: #e3e3e3;
    text-decoration: none;
    cursor: var(--cursor-dark-hover);
    padding: 30px 0 20px;

}

@media (min-width: 1600px) {
    ::-webkit-input-placeholder {
        color: #666;
        font-size: 30px !important;
    }
    
    :-ms-input-placeholder {
        color: #666;
        font-size: 30px !important;
    }
    
    ::placeholder {
        color: #666;
        font-size: 30px !important;
    }
    .copyright {
        width: 1200px;
    }
    .copyright p {
        font-size: 24px;
    }
    .copyright .copyright-name {
        font-size: 32px;
    }
}

@media (max-width:1600px) and (min-width: 1024px) {
    .copyright {
        width: 880px;
    }
    .copyright p {
        font-size: 20px;
    }
    .copyright .copyright-name {
        font-size: 24px;
    }
}

@media (max-width: 1440px) {
    footer h1.section-title {
        font-size: 7vw;
    }

    contact {
        background-position: top right;
    }

    contact form {
        width: 60vw;
    }

}


@media (max-width: 1200px) {
    footer contact form {
        margin-left: 50px;
    }
    footer contact form p {
        font-size: calc(var(--base) / 6);
    }
}

@media (max-width: 1100px) {
    contact {
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, black, rgba(0, 0, 0, .5) 80%, transparent), url('../img/contact-image.jpg') no-repeat top right;

    }
}

@media (max-width: 1024px) {
    footer h1.section-title {
        margin-top: 50px;
    }
    footer contact form p {
        font-size: calc(var(--base) / 7);
    }  
    form input {
        box-sizing: border-box;
        width: 200px;
        font-size: calc(var(--base) / 6);
    } 
    input[type=email] {
        box-sizing: border-box;
        width: 250px;
    }
    ::-webkit-input-placeholder {
        color: #666;
        font-size: 16px !important;
    }
    
    :-ms-input-placeholder {
        color: #666;
        font-size: 16px !important;
    }
    
    ::placeholder {
        color: #666;
        font-size: 16px !important;
    }
    .form-btn {
        margin-top: 16px;
        font-size: 16px;
        padding: 16px 32px;
    }
    .form-btn:before {
        font-size: 16px;
        padding: 16px 32px;
    }
    .copyright {
        width: 700px;
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    .copyright {
        max-width: 425px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .social-links {
        padding-left: 0;
    }
}

@media(max-width: 600px) {
    contact form {
        margin-left: 0 !important;
    }
    form input {
        width: 90%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    input[type=email] {
        box-sizing: border-box;
        width: 90%;
    }
    .form-btn {
        padding: 12px 32px;
        font-size: 90%;
        letter-spacing: 0;
    }
    .form-btn:before {
        font-size: 90%;
        padding: 12px 32px;
    }
    .social-links li a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
    }
    .social-links li:hover a i:nth-child(2) {
        transform: translateY(-62%) translateX(-12%);
        cursor: none;
        cursor: var(--cursor);
    }
    
    .social-links li:hover a i:nth-child(1) {
        transform: translateY(-62%) translateX(-12%);
        opacity: 0;
    }

}

@media (max-width:500px) {
    .copyright {
        max-width: 100%;
    }
}