
section.projects {
    height: 200px;
}
section.projects h1 {
    font-size: calc(var(--base) * .8);
    color: rgba(255, 255, 255, .25);
    letter-spacing: .7ch;
    text-transform: uppercase;
    text-align: center;
}

css-gallery {
    display: grid;
    position: relative;
    place-items: center;
    color: white;
    counter-reset: gallery;
}

gallery-item {
    --scale: 0.6;
    --transform: scale(var(--scale)) rotate(var(--rotate, 0));
    position: sticky;
    display: flex;
    transform: var(--transform);
    transition: var(--transition);
    top: 0;
    box-sizing: border-box;
    width: 100vmin;
    height: 100vmin;
    justify-content: center;
    --radius: calc(var(--base) / 5);
    margin-bottom: 10vh;
}

gallery-item > * {
    outline: none;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: var(--radius);
    width: 100%;
    height: 100%;
    box-shadow: 60px 0 180px 5px black, 0 -100px 280px black;
    transition: var(--transition);
}

[wide]:checked ~ gallery-item {
    --scale: 1;
    --rotate: 0;
    --radius: 10px;
    aspect-ratio: 16/9;
    top: 10vh;
    z-index: 10;
    width: 80vw;
    height: 80vmin;

}

[wide]:checked ~ gallery-item::after {
    top: calc(var(--nr-top) + 10vmin);
}


gallery-item::after {
    content: '0' counter(gallery) " ";
    display: flex;
    align-items: center;
    height: 2ch;
    width: 2ch;
    border-radius: 400px;
    padding: 1ch;
    backdrop-filter: blur(100px);
    color: white;
    font-size: calc(var(--base) / 4);
    position: sticky;
    top: var(--nr-top);
    margin-top: 5vh;
    margin-bottom: 20vh;
    counter-increment: gallery;
    font-weight: bold;
    transform: rotate(calc(var(--rotate) * -1)) scale(2);
    z-index: 10;
    transition: var(--transition);
}

gallery-desc {
    display: none;
    transition: var(--transition);
    background: rgba(100, 100, 100, 0.3);
    box-shadow: none;
    backdrop-filter: blur(10px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 7%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    padding: 10px;
    padding-left: 30px;
    transition: var(--transition);
}


gallery-desc h1 {
    font-size: calc(var(--base) / 5);
    letter-spacing: 0.4ch;
    line-height: 1.5;
}

gallery-desc p {
    line-height: 1.5;
    font-size: 120%;
    letter-spacing: .09ch;
}

gallery-desc p span {
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 10px;
    font-size: 80%;
}

.links-container {
    display: flex;
    width: 70%;
    margin: 10px auto 0;
    justify-content: space-around;
    align-items: center;
}

.links-container a:link,
.links-container a:visited {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    /* pointer-events: none; */
    cursor: none;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 15px;
    border: 1px solid white;
    transition: var(--transition);
    font-size: 90%;
}

.links-container a:hover {
    background-color: white;
    color: black;
    cursor: var(--cursor);
}

.links-container i {
    margin-right: 10px;
}

[g1] {
    --rotate: -4deg;
}

[g2] {
    --rotate: -8deg;
    --nr-top: 20vmin;
}

[g3] {
    --rotate: -12deg;
    --nr-top: 30vmin;
}

css-gallery::after {
    content: '';
    width: 100%;
    height: 50vh;
    position: sticky;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(to top, black, transparent);
    display: flex;
    pointer-events: none;
}

[wide] {
    display: flex;
    position: sticky;
    top: calc(100% - 110px);
    right: 110px;
    z-index: 100;
    outline: none;
    width: 60px;
    height: 60px;
    justify-self: right;
    appearance: none;
    cursor: var(--cursor-dark-hover);
    background: var(--fullscreen) no-repeat center/24px;
}

[wide]:checked ~ gallery-item {
    margin-bottom: 80vh;
}

[wide]:checked ~ gallery-item gallery-desc {
    display: flex;
}

/* MEDIA QUERIES */

@media (max-width: 1440px) {
    section.projects h1 {
        font-size: calc(var(--base) * 0.6);
    }
    .links-container {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    gallery-desc {
        width: 50%;
    }
}

@media (max-width: 1024px) {
    gallery-desc {
        width: 60%;
    }
}

@media (max-width: 768px) {
    section.projects h1 {
        font-size: calc(var(--base) * 0.5);
    }
    gallery-desc h1 {
        font-size: calc(var(--base) / 6);
    }

    gallery-desc p {
        font-size: calc(var(--base) / 7.5);
    }
    .links-container {
        width: 100%;
    }
    .links-container a:link,
    .links-container a:visited {
        padding: 5px 10px;
        border-radius: 7px;
    }
    section.projects {
        height: 150px;
    }
}

@media (max-width: 600px) {
    gallery-desc {
        height: 60%;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: var(--radius);
    }

    gallery-desc p:nth-child(2) {
        margin-bottom: 0;
    }
    gallery-desc p:nth-child(3) {
        margin-bottom: 0;
    }

    .links-container {
        width: 70%;
    }
}

@media (max-width: 500px) {
    section.projects {
        height: 100px;
    }
}